<div class="nested-fields">
	<%= f.label :content, "content" %>
	<%= f.text_field :content, placeholder:"Enter content" %> 

	<%= f.label :true %>
	<%= f.check_box :true %>

	<%= link_to_remove_association  "remove", f%>
</div>

