<%= form_for @question do |f| %>

	<%= f.label :content, "question" %>
	<%= f.text_field :content, placeholder:"question content" %>

	<%= f.hidden_field :subject_id, value: 1 %><br>

  
	<label>answers</label>
	<%= f.fields_for :answers do |answer| %>         
		<%= render 'answer_fields', f: answer %>
	<% end %>
             
    <div class="links">
        <%= link_to_add_association 'add answer', f, :answers%>
    </div>
  
    <%= f.submit %>
  
<% end %>



