
<div class="row">
    <div class="center jumbotron">
		<h1><%=@subject.name%></h1>
		<h2>
		Time Limit: <%=@subject.time%> min 
		</h2>
		<h2>
		Number of Questions: 
		</h2>
		<p>
		<%=@subject.description%> 
		</p>

		<p>
		Questions
		</p>
		<hr>
		<% @questions.each do |question| %>

		<%=question.content%><br>

		<%end%>

		<%= link_to "Add question", new_question_path %>

	</div>
</div>
